
services:
  db:
    image: postgres:17
    container_name: hh_ru_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATA_BASE_USER}
      POSTGRES_PASSWORD: ${DATA_BASE_PASSWORD}
      POSTGRES_DB: hh_ru_db
      TZ: Europe/Moscow
#    ports:
#      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - hh_network

  redis:
    image: redis:7.0
    container_name: redis-local
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      redis-server
        --appendonly yes
        --maxmemory 512mb
        --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data

volumes:
  db_data:
  redis-data:

networks:
  hh_network:
#    name: hh_network
#    driver: bridge
    external: true